body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    justify-content: center;
}

.box {
    background-color: #6a1b9a;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px inset whitesmoke;
}

label {
    color: white;
}

